.css-email-bar{
   background-color:rgba(0, 0, 0, 0.9); 
   outline: none;
   border: none;
   color: rgb(206, 37, 37);

  
}

.css-center-text{
    margin-top: 150px;
    text-align: center;
}

.css-2nd-card{
    width: 100%;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;

}

.css-3rd-card-border{
    border-color: black;
    outline-color: black;
}

.css-margin-top{
    padding: 0px !important;
    background-color: black;
}

.coursor-pointer{
    cursor: pointer;
}
